    header {
        background-color: #A08CCF;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: #EDE6FF;
        color: #234553;
    }

    .container {
        width: 85%;
        max-width: 1000px;
        margin: 30px auto;
    }
    .container2 {
        width: 65%;
        max-width: 700px;
        margin: 200px auto;
        
    }
    .box {
        background-color: #140047;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 8px;
        background-color: whitesmoke;
        color: #1a044d;
    }
    
    h1, h2 {
        color: #140047;
        margin-top: 0;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    p {
        line-height: 1.6;
        font-size: 16px;
    }

    li {
        padding-left: 5px;
        margin-left: 30px ;
    }
    .intro {
        font-size: 20px;
    }
